html, body {
  margin: 0;
  padding: 0;
}

.heading{
  position: relative;
  top: 80px;
  left:-200px;
  color:var(--color);
  text-shadow: 0 0 15px var(--color);
  text-decoration: none;
  letter-spacing: 0.1rem;
  transition: 0.5s;
  font-family:"courier";
}


.M {
  position: relative;
  top :100px;
  left: -200px;
  color: wheat;
  align-items: center;
}

.R {
  position: relative;
  top: 190px;
  left: -453px;
  color: wheat;
}

.space{
  position: relative;
  top: 280px;
  left: -780px;
  color: wheat;
  align-items: left;
}

.click{
  position: relative;
  top: 240px;
  left: -730px;
  color: wheat;
  align-items: left;

}

.draw{
  position: relative;
  top: 175px;
  left: -455px;
  color: wheat;

}


/* canvas {
  display: block;
} */

.container {
  color: white;
  width: 100%;
  min-height: 60vh;
  position: relative;
  top: -175px;
  left: 400px;
  display: flex;
  justify-content: right;
  align-items: right;
  flex-wrap: wrap;
  gap: -100px;
  background: #272821;
}
